<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/about/">{{ site.title 
}}</a>

    <nav class="site-nav">
      <a href="#" class="menu-icon">  </a>
      <div class="trigger">      
        <a class="page-link" href="{{ site.baseurl }}/">Blog</a>
        {% for page in site.pages %}
          {% if page.title %}
            {% if page.title != "About" %}
              <a class="page-link" href="{{ page.url | prepend: 
site.baseurl }}">{{ page.title }}</a>
            {% endif %}
          {% endif %}
        {% endfor %}
        <a class="page-link" href="/static/docs/resume_steven_wells.json">Resume</a>
      </div>
    </nav>
  </div>
</header>

